# ignore files
*.pyc
*.log*
package.json
package-lock.json
desktop.ini
NewsReader.code-workspace

# ignore directories
database
__pycache__
files/temp
.idea
node_modules
chroma_db
my_index

# ignore environment
.venv
.env
