pipreqs==0.5.0

# basic
beautifulsoup4==4.12.3
fastapi==0.115.6
Flask==3.1.0
numpy==2.2.0
protobuf==5.29.1
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.0
SQLAlchemy==2.0.15
uvicorn==0.32.1
aiohttp>=3.9.1
hypercorn>=0.15.0
upstash-redis==1.2.0

# document
notion-client==2.3.0

# api
openai==1.58.1
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0

# vector db
chromadb==0.5.23
pymilvus==2.5.0
milvus-model==0.2.4
milvus-lite==2.4.9 # not on windows

# RAG
voyageai==0.3.2
llama-index==0.12.7
llama-index-readers-database==0.3.0
llama-index-vector-stores-chroma==0.4.1
# llama-index-vector-stores-milvus==0.5.0 # 需要独立安装 pip install llama-index-vector-stores-milvus
llama-index-embeddings-voyageai==0.3.4
llama-index-embeddings-jinaai==0.4.0
llama-index-llms-gemini==0.4.2
llama-index-storage-chat-store-upstash==0.2.0

# nlp
# torch==2.5.1
# transformers==4.46.3
sentence-transformers==3.3.1