<h2 id="ftoc-real-time-online-html-editor" class="ftwp-heading">Real-time online HTML editor</h2>
<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 13.3041%;" class="fr-thick">
				<strong>
					<span style="box-sizing: border-box; font-size: 14px;">Title</span>
				</strong>
				<br>
			</td>
			<td style="width: 17.4523%;" class="fr-thick">
				<strong
					style='box-sizing: border-box; color: rgb(26, 28, 30); font-family: "Google Sans Text", "Helvetica Neue", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'
					id="isPasted">
					<span style="box-sizing: border-box;">
						<span
							style='color: rgb(29, 29, 31); font-family: SourceSansPro, -apple-system, "PingFang SC", "Apple Color Emoji", BlinkMacSystemFont, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'
							id="isPasted">高度相关</span>
					</span>
				</strong>
				<br>
			</td>
			<td style="width: 20.1526%;" class="fr-thick">
				<strong
					style='box-sizing: border-box; color: rgb(26, 28, 30); font-family: "Google Sans Text", "Helvetica Neue", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'
					id="isPasted">
					<span style="box-sizing: border-box;">
						<span
							style='color: rgb(29, 29, 31); font-family: SourceSansPro, -apple-system, "PingFang SC", "Apple Color Emoji", BlinkMacSystemFont, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'
							id="isPasted">弱相关</span>
					</span>
				</strong>
				<br>
			</td>
			<td style="width: 25.2286%;" class="fr-thick">
				<strong
					style='box-sizing: border-box; color: rgb(26, 28, 30); font-family: "Google Sans Text", "Helvetica Neue", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'
					id="isPasted">
					<span style="box-sizing: border-box;">
						<span
							style='color: rgb(29, 29, 31); font-family: SourceSansPro, -apple-system, "PingFang SC", "Apple Color Emoji", BlinkMacSystemFont, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'
							id="isPasted">互补</span>
					</span>
				</strong>
				<br>
			</td>
			<td style="width: 13.2606%;" class="fr-thick">
				<span
					style='color: rgb(29, 29, 31); font-family: SourceSansPro, -apple-system, "PingFang SC", "Apple Color Emoji", BlinkMacSystemFont, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'
					id="isPasted">对立</span>
			</td>
			<td style="width: 10.5578%;" class="fr-thick">
				<span style="font-size: 18px;">
					<strong>重复</strong>
				</span>
			</td>
		</tr>
		<tr>
			<td style="width: 13.3041%;" class="fr-thick">
				<a href="https://github.com/datawhalechina/tiny-universe/tree/main?tab=readme-ov-file"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">大模型白盒子构建指南</a>
				<br>
			</td>
			<td style="width: 17.4523%;">
				<a href="https://mp.weixin.qq.com/s/gloYnaj5Q0ogOv9huyziqg"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">浅谈DSPy和自动化提示词工程（上）</a>
				<br>本文介绍的方法，对于大模型白盒子构建指南，有具体的指导意义。。。
			</td>
			<td style="width: 20.1526%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/ZXvAWDhqKRPq1u9NTfYFnQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">RAG黑盒被打开了，可视化RAGViz闪亮全场</a>
				<br>本文为RAG的理论和算法提出了支撑，对于大模型白盒子构建指南，有理论帮助。。。 <br>
			</td>
			<td style="width: 25.2286%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/CaTn5NFa7VPTZ7HBbu9NcQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">面试腾讯被1道RAG题干掉了</a>
				<br>结合本文提出的面试题，在大模型白盒子构建指南一文中，学练结合
			</td>
			<td style="width: 13.2606%;" class="fr-thick ">
				<br>
			</td>
			<td style="width: 10.5578%;" class="fr-thick">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 13.3041%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/gloYnaj5Q0ogOv9huyziqg"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">浅谈DSPy和自动化提示词工程（上）</a>
				<br>
			</td>
			<td style="width: 17.4523%;" class="fr-thick">
				<a href="https://github.com/datawhalechina/tiny-universe/tree/main?tab=readme-ov-file"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">大模型白盒子构建指南</a>
				<br>本文实现过程中用到了浅谈DSPy和自动化提示词工程（上）介绍的框架 <br>
			</td>
			<td style="width: 20.1526%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 25.2286%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 13.2606%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/ZXvAWDhqKRPq1u9NTfYFnQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">RAG黑盒被打开了，可视化RAGViz闪亮全场</a>
				<br>理论冲突。。 <br>
			</td>
			<td style="width: 10.5578%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/CaTn5NFa7VPTZ7HBbu9NcQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">面试腾讯被1道RAG题干掉了</a>
				<br>提到了同样的框架 <br>
			</td>
		</tr>
		<tr>
			<td style="width: 13.3041%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/ZXvAWDhqKRPq1u9NTfYFnQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">RAG黑盒被打开了，可视化RAGViz闪亮全场</a>
				<br>
			</td>
			<td style="width: 17.4523%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 20.1526%;" class="fr-thick">
				<a href="https://github.com/datawhalechina/tiny-universe/tree/main?tab=readme-ov-file"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">大模型白盒子构建指南</a>
				<br>理论支持 <br>
				<br>
			</td>
			<td style="width: 25.2286%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/CaTn5NFa7VPTZ7HBbu9NcQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">面试腾讯被1道RAG题干掉了</a>
				<br>面试如果可以提到最新的研究理论，可能成为亮点 <br>
			</td>
			<td style="width: 13.2606%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/gloYnaj5Q0ogOv9huyziqg"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">浅谈DSPy和自动化提示词工程（上）</a>
				<br>理论冲突。。。
			</td>
			<td style="width: 10.5578%;" class="fr-thick">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 13.3041%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/CaTn5NFa7VPTZ7HBbu9NcQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">面试腾讯被1道RAG题干掉了</a>
				<br>
			</td>
			<td style="width: 17.4523%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 20.1526%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 25.2286%;" class="fr-thick">
				<a href="https://github.com/datawhalechina/tiny-universe/tree/main?tab=readme-ov-file"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">大模型白盒子构建指南</a>可以使用本文的一些技巧。。。 <br>
				<a href="https://mp.weixin.qq.com/s/ZXvAWDhqKRPq1u9NTfYFnQ"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">RAG黑盒被打开了，可视化RAGViz闪亮全场</a>&nbsp;对于面试有帮助 <br>
			</td>
			<td style="width: 13.2606%;" class="fr-thick">
				<br>
			</td>
			<td style="width: 10.5578%;" class="fr-thick">
				<a href="https://mp.weixin.qq.com/s/gloYnaj5Q0ogOv9huyziqg"
					style='box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;'
					id="isPasted">浅谈DSPy和自动化提示词工程（上）</a>
				<br>提到了同样的框架 <br>
			</td>
		</tr>
	</tbody>
</table>
<p>Create and edit <a href="https://validator.w3.org/" rel="nofollow" target="_blank" title="W3C HTML validator">W3C valid HTML code</a> without writing a single line of code. The <a href="https://froala.com/wysiwyg_editor-download/">WYSIWYG editor on the left helps</a> non-developers write their
	own <em>high-quality HTML code</em>.</p>
<p align="center">
	<img src="https://froala.com/wp-content/uploads/2021/11/agefis-vll0Bb04XTc-unsplash-scaled.jpg" alt="Editor photo" class="fr-fic fr-dii" width="300">
</p>
<h3 id="ftoc-know-some-code" class="ftwp-heading">Know some code? <span class="fr-emoticon fr-deletable fr-emoticon-img" style="background: url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.0.1/assets/svg/1f600.svg);">&nbsp;</span>
</h3>
<p>The editing works both ways, with live visual feedback. Write some markup code on the right, and it will appear in the left editor.</p>